body p{
    text-align: justify;
}

.o-info-container p, h1, h2, h3 {
    margin: 10px;
}

.o-info-container{ 
    float: left;
    width: 24%;
    background-color: blue;
    height: 100vh;
    margin-right: 1%;
}

.o-img-container{
    background-color: chartreuse;
    text-align: center;
    padding: 1rem;
    
}

.o-img-profile{
    width: 100%;
    height: auto;
    border-radius: 150px;
    
}

.o-portfolio-container{
    float: right; 
    width: 75%;
    height: 100vh;
    background-color: red;
  
}

.o-portfolio-container h1{
    text-align: center;
}

.o-project{
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    
}

.o-project h3{
    text-decoration: underline;

}

#project2{
    background-color: yellow;

}

.o-brown{
    background-color: brown;

}

